h1{
    color: rgb(252, 155, 37);
}
div{
    text-align: center;
}
p{
    color: rgb(140, 7, 140);
}
table{
    padding: 80px; ;
    border:solid rgb(90, 166, 15) 2px ;
    margin: auto;
    border:rgb(90, 166, 15); 
    border-collapse: collapse;
    width: 800px;
    height: 120px;
}
th,td{
    border:2px solid rgb(90, 166, 15);
}
th{
    background-color:rgb(90, 166, 15);
}
body{
    background-color: rgb(239, 213, 180);
}
footer{
    color: rgb(90, 166, 15);
}
span{
    color: rgb(122, 207, 37);
}